<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:theme="@style/AppTheme"
        android:label="VoxNotify Test Sender"
        android:icon="@android:drawable/ic_dialog_info">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".TestNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.victormeneses.yape_notifier.test_sender.POST_TEST_NOTIFICATION" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
